* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: "Roboto";

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
}

.nav-links {
    display: flex;
    gap: 25px;
    padding-right: 100px;
    margin-left: auto;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 100;
    color: #E5E7EB;
}

.header-logo {
    font-size: 24px;
    font-weight: 500;
    color: #F9FAF8;
    padding-left: 100px;
}

.hero {
    background-color:#1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;
}

.hero-text {
    padding-left: 100px;
    width: 400px;
}

.hero-text h2 {
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8;
    margin-bottom: 10px;
}

.hero-text p, .hero-image {
   font-size: 18px;
   font-weight: 300;
   color: #E5E7EB;
}

.hero-image {
    background-color: grey;
    margin-right: 100px;
    opacity: 0.5;
    width: 500px;
    height: 250px;
    text-align: center;
}

.hero-button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-width: 2px;
    border-color: transparent;
    border-radius: 5px;
    border-style: solid;
    padding: 5px 20px;
    font-weight: bold;
    font-size: 14px;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.hero-button:hover {
    background-color: transparent;
    border-width: 2px;
    border-color:  #3882F6;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.information h3 {
    font-size: 36px;
    font-weight: 700;
}

.information-cards {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.information-image {
    width: 150px;
    height: 150px;
    background-color: transparent;
    border: 3px solid #3882F6;
    border-radius: 10px; 
}

.card {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 150px;
    margin-left: 25px;
    margin-right: 25px;

}

.card p {
    margin-top: 20px;
    line-height: 25px;
}

.quote {
    min-height: 400px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
}

.quote div {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.quote-content {
    font-style: italic;
    font-weight: 300;
    font-size: 36px;
    margin-bottom: 0px;
}

.quote-author {
    margin-top: 10px;
    margin-left: auto;
    padding-right: 10px;
    font-style: bold;
    font-weight: 700;
}

.action {
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 30px;
}

.action-text {
    color: #E5E7EB;
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 200px;
}

.action-button {
    font-size: 16px;
    background-color: transparent;
    border-color: #E5E7EB;
    color: #E5E7EB;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    padding: 10px 30px;
    margin-left: 100px;
    transition: 0.2s
}

.action-button:hover {
    background-color: #E5E7EB;
    color:  #3882F6;
}

.action-text-call span {
    font-size: 20px;
    font-weight: 700;
}

.action-text-call {
    line-height: 30px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    font-size: 12px;
    padding: 20px 5px;
}